@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  /* height 0:  hide the horizontal scrollbar */
}
